*.DS_Store
*.log
*.pyc
*.pyo
*.sqlite?
*.sw?
.venv
*/.venv/*
*.pyc
*.pid
*.sock
*.orig
*.lock
build
dist
ChangeLog
tags
pep8.txt
pylint.txt
reports
.idea
*.iml
db.sqlite3
*.log
*.vim
test_email.py
*_ldap.py
.ropeproject
local_settings.py
history.json
.cache
media
logs
